name: Build AppImage SLAM Server

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      GCP_CREDENTIALS:
        required: true

jobs:
  appimage:
    name: AppImage Build Cartographer
    strategy:
      matrix:
        include:
          - arch: [x64, qemu-host]
            image: ghcr.io/viamrobotics/canon:amd64-cache
            platform: linux/amd64
          - arch: [arm64, qemu-host]
            image: ghcr.io/viamrobotics/canon:arm64-cache
            platform: linux/arm64
    runs-on: ${{ matrix.arch }}
    container:
      image: ${{ matrix.image }}
      options: --platform ${{ matrix.platform }}
    timeout-minutes: 30

    steps:
    - name: Check out main viam-cartographer code
      if: github.event_name == 'workflow_dispatch' || github.event_name == 'push'
      uses: actions/checkout@v3
      with:
        submodules: recursive
        path: viam-cartographer
      
    - name: Check out PR branch code
      if: github.event_name == 'pull_request'
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        submodules: recursive
        path: viam-cartographer

    - name: make clean
      run: |
        sudo -u testbot bash -lc 'cd viam-cartographer && make clean'
        
    - name: make bufinstall buf setup
      uses: nick-fields/retry@v2
      with:
        timeout_minutes: 5
        max_attempts: 3
        retry_on: timeout
        shell: bash
        command: |
          chown -R testbot .
          sudo -u testbot bash -lc 'cd viam-cartographer && make bufinstall buf setup'
          
    - name: make build
      run: |
        sudo -u testbot bash -lc 'cd viam-cartographer && make build'

    - name: make install-lua-files
      run: |
        sudo -u testbot bash -lc 'cd viam-cartographer && make install-lua-files'

    - name: make test
      run: |
        sudo -u testbot bash -lc 'cd viam-cartographer && make test'

    - name: Copy carto_grpc_server binary
      if: matrix.platform == 'linux/amd64'
      run: |
        sudo cp viam-cartographer/viam-cartographer/build/carto_grpc_server /usr/local/bin/carto_grpc_server

    - name: Check out code in rdk directory
      if: matrix.platform == 'linux/amd64'
      uses: actions/checkout@v3
      with:
        repository: viamrobotics/rdk
        path: rdk

    - name: Run rdk slam integration tests
      if: matrix.platform == 'linux/amd64'
      run: |
        sudo -u testbot bash -lc 'cd rdk/services/slam/builtin && sudo go test -v -run TestCartographerIntegration'

    - name: Authorize GCP Upload
      uses: google-github-actions/auth@v1
      with:
        credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

    - name: Build AppImage (PR)
      if: contains(github.event.pull_request.labels.*.name, 'appimage') || contains(github.event.pull_request.labels.*.name, 'appimage-ignore-tests')
      run: |
         sudo -u testbot bash -lc 'cd viam-cartographer && make BUILD_CHANNEL="pr-${{ github.event.pull_request.number }}" appimage'

    - name: Upload Files (PR)
      if: contains(github.event.pull_request.labels.*.name, 'appimage') || contains(github.event.pull_request.labels.*.name, 'appimage-ignore-tests')
      uses: google-github-actions/upload-cloud-storage@v0.10.4
      with:
        headers: "cache-control: no-cache"
        path: 'viam-cartographer/etc/packaging/appimages/deploy/'
        destination: 'packages.viam.com/apps/slam-servers/'
        glob: '*'
        parent: false
        gzip: false

    - name: Send Message
      if: contains(github.event.pull_request.labels.*.name, 'appimage') || contains(github.event.pull_request.labels.*.name, 'appimage-ignore-tests')
      uses: marocchino/sticky-pull-request-comment@v2.2.0
      with:
        message: |
          Temporary AppImage ready! <https://packages.viam.com/apps/slam-servers/carto_grpc_server-pr-${{ github.event.pull_request.number }}-x86_64.AppImage>

    - name: Build AppImage (Latest)
      if: github.event_name == 'workflow_dispatch' || github.event_name == 'push'
      run: sudo -u testbot bash -lc 'cd viam-cartographer && make BUILD_CHANNEL="latest" appimage'

    - name: Deploy Files (Latest)
      if: github.event_name == 'workflow_dispatch' || github.event_name == 'push'
      uses: google-github-actions/upload-cloud-storage@v0.10.4
      with:
        headers: "cache-control: no-cache"
        path: 'viam-cartographer/etc/packaging/appimages/deploy/'
        destination: 'packages.viam.com/apps/slam-servers/'
        glob: '*'
        parent: false
        gzip: false
