name: Build and Publish Latest

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}

on:
  workflow_dispatch:
  push:
    branches: [ 'RSDK-3591_UpdateWorkflows' ]
    paths-ignore:
      - 'README.md'

# To test workflow updates you need to work in a branch directly on viamrobotics/viam-cartographer
# and tag your working branch instead of @main in any viamrobotics/viam-cartographer "uses" below.
# Don't forget to tag back to @main before merg.

jobs:
  test:
    uses: viamrobotics/viam-cartographer/.github/workflows/test.yml@main

  appimage:
    uses: viamrobotics/viam-cartographer/.github/workflows/appimage.yml@RSDK-3591_UpdateWorkflows
    needs: test
    with:
      release_type: 'latest'
    secrets:
      GCP_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}

  slack-workflow-status:
      if: ${{ failure() }} 
      name: Post Workflow Status To Slack
      needs:
        - appimage
        - test
      runs-on: ubuntu-latest
      permissions:
        actions: 'read'
      steps:
        - name: Slack Workflow Notification
          uses: Gamesight/slack-workflow-status@master
          with:
            repo_token: ${{secrets.GITHUB_TOKEN}}
            slack_webhook_url: ${{secrets.SLACK_WEBHOOK_URL}}
            channel: '#team-slam-github-notifs'
            name: 'Workflow Status'
